.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.left{
  z-index: 0;
  height : 100vh;
  width : 40vw;
}

.logoleft{
  max-height: 100vh;
}

.right{
  z-index: 0;
  position: relative;
  height : 100vh;
  width : 60vw;
  background: rgb(17 24 32);

}

.logoright{
  display: flex;
  height: 5rem;
  width:5rem;
  margin : 2rem 0 0 2rem;
  /* Define the roation center to to the center of the image */
  transform-origin: center center;
  /* Define the rotation speed */
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.title{
  color : white;
  margin-top: 10vh;
  margin-left: 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 60px;
}

.subtitle{
  color : white;
  margin-top: 5vh;
  margin-left: 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.smalltext{
  color : white;
  margin: 2rem 0 2rem 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.signup{
  border-radius: 50px;
  margin: 2rem 0 0 5rem;

  width: 10vw;
  height: 4vh;
  color: white;
  background: rgb(45 121 209);
  
  
}
.signin{
  border-radius: 50px;
  margin: 0 0 0 5rem;
  width: 10vw;
  height: 4vh;
  color: rgb(45 121 209);
  background-color: transparent;
  
}


.signUpModal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: rgb(17 24 32);
  padding : 0px; 
}

.signInModal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position:relative;
  background-color: rgb(17 24 32);
}

.btnClose{
  align-self: flex-end;
  color: red;
}

.logmodallogo{
  display: flex;
  height: 5rem;
  width:5rem;
  object-fit: contain;
  margin: 2rem 0 0 0 

}
.logmodaltitle{
  color : white;
  margin: 2rem 0 2rem 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.modalsign{
  border-radius: 50px;
  margin: 2rem 0 2rem 0;
  width: 10vw;
  height: 4vh;
  color: rgb(17 24 32);
  background: white;
}  

.inputfirstname {
  margin: 0 0 1rem 0;
  background-color: rgb(17 24 32);
  padding: 10px 2rem;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
}

.inputuser {
  margin: 0 0 1rem 0;
  background-color: rgb(17 24 32);
  padding: 10px 2rem;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
}

.inputpassword {
  margin: 0 0 1rem 0;
  background-color: rgb(17 24 32);
  padding: 10px 2rem;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
}
