.container {
    border-top: 2px solid #545D6C;
    border-bottom: 2px solid #545D6C;
    width: 100%;
}

.topTweet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userInfos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem;
}

.deleteBtnContainer {
    margin: 1rem;
    height: 1rem;
    width: auto;
}

.deleteBtn {
    color: white;
    width: 5px;
    height: 5px;
    font-weight: bold;
}

.deleteBtn:hover {
    color: red;
    cursor: pointer;
}

.profilePicture {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.firstname {
    margin: 0 0 0 8px;
    font-size: x-large;
    font-weight: bolder;
    color: white;
}

.username {
    margin: 0 0 0 8px;
    font-size: x-large;
    color: #545D6C
}

.uploadTime {
    margin: 0 0 0 8px;
    font-size: x-large;
    color: #545D6C
}

.message {
    font-size: larger;
    font-weight: 400;
    margin: 0 0 1rem 2rem;
    color: white;

}

.like {
    margin: 0 0 2rem 2rem;
    color: white;
}

.countLike {
    margin: 0 0 0 5px
}