.container {
    border-top: 2px solid #545D6C;
    border-bottom: 2px solid #545D6C;
    width: 100%;
}

.topTweet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userInfos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0 1.5rem 1rem;
}

.profilePicture {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.firstname {
    margin: 0 0 0 8px;
    font-size: x-large;
    font-weight: bolder;
    color: white;
}

.username {
    margin: 0 0 0 8px;
    font-size: large;
    color: #545D6C
}

.uploadTime {
    margin: 0 0 0 8px;
    font-size: large;
    color: #545D6C
}

.message {
    font-size: larger;
    font-weight: 400;
    margin: 0 0 1rem 2rem;
    color: white;

}

.buttonsContainer {
    margin: 0 0 1rem 2rem;
    display: flex;
    flex-direction: row;

}

.like {
    color: white;
}


.countLike {
    margin: 0 1rem 0 5px;
    color: white;
}

.deleteBtnContainer {
    width: 1.5rem;
    height: 1.5rem;
}

.deleteBtn {
    cursor: pointer;
    color: white;
}

.deleteBtn:hover {
    color: #E41B17;
}